<!DOCTYPE html>
<html>
<head>
    <style>
        /* Style for the body */
        body {
            background-color: #34495E; /* Set background color */
            color: white; /* Default text color for the body */
        }

        /* Style for links */
        a {
            color: #FFD700;
            text-decoration: none;
        }

        a:hover {
            color: #FFA500;
        }

        /* Style for the home link section */
        .home-link p {
            text-align: left;
        }
    </style>
</head>
<body>
<h1 class="left">Functionality not available</h1>
<h3> Still in progress...</h3>
<div class="home-link">
    <p><a th:href="@{/admin_homepage}">home</a></p>
</div>
</body>
</html>
